<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission internet pour charger les images -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FastFoodEat"
        tools:targetApi="31">

        <!-- Splash screen (écran de démarrage) -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Liste des restaurants -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />

        <!-- Menu du restaurant -->
        <activity
            android:name=".ui.menu.RestaurantMenuActivity"
            android:exported="false" />

        <!-- Page checkout / paiement -->
        <activity
            android:name=".ui.order.PlaceYourOrderActivity"
            android:exported="false" />

    </application>

</manifest>